.parinte {
    width: 600px;
    border: 2px solid black;
    display: flex;
    overflow: auto; /* adauga scroll bar daca continutul depaseste dimensiunea div-ului */
}

.left {
    width: 200px;
    margin: auto;
    float: left; /* aliniaza div-ul la stanga */
}

.right {
    width: 200px;
    margin: auto;
    float: left;
}

img {
    max-width: 200px;
    vertical-align: middle;
}

p {
    text-align: center;
    vertical-align: middle;
}
