
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
nav {
    display: flex;
    flex-direction: column;
}

nav a {
    width: 84px;
    height: 84px;
    background-image: url(meniu.png);
}

#facebook{
    background-position: 0 0
}
#facebook:hover {
    background-position: 0 -84px
}

#flicker{
    background-position: -84px 0
}
#flicker:hover {
    background-position: -84px -84px
}

#dribbble{
    background-position: -168px 0
}
#dribbble:hover {
    background-position: -168px -84px
}

#google{
    background-position: -252px 0
}
#google:hover {
    background-position: -252px -84px
}

#linkedin{
    background-position: -336px 0
}
#linkedin:hover {
    background-position: -336px -84px
}

#pinterest{
    background-position: -420px 0
}
#pinterest:hover {
    background-position: -420px -84px
}

#wifi{
    background-position: -504px 0
}
#wifi:hover {
    background-position: -504px -84px
}

#skype{
    background-position: -588px 0
}
#skype:hover {
    background-position: -588px -84px
}

#twitter{
    background-position: -672px 0
}
#twitter:hover {
    background-position: -672px -84px
}

#vimeo{
    background-position: -754px 0
}
#vimeo:hover {
    background-position: -754px -84px
}

#youtube{
    background-position: -838px 0
}
#youtube:hover {
    background-position: -838px -84px
}
