body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#main {
    display: flex;
    flex: 8;
}

nav {
    background: #dbb491;
    order: 1;
    flex-grow: 1;
}

article {
    flex-grow: 9;
    order: 2;
}

header, footer{
    flex-grow: 1;
    background-color: #348079;
}

/*partea de meniu*/
nav a {
    background-color: #dbb491;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: #ccc;
}

nav a:active {
    background-color: #348079;
    color: white;
}
